<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:icon="@mipmap/ic_launcher">
        <activity
            android:name="kekmech.ru.mpeiapp.demo.MainActivity"
            android:exported="true"
            android:label="MpeiX UI Kit"
            android:theme="@style/Theme.Mpeix">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
