<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="kekmech.ru.mpeiapp"
        android:installLocation="auto"
        >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.example.permission.MAPS_RECEIVE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="false"
            android:name=".MPEIApp"
            android:theme="@style/AppTheme"
            android:hardwareAccelerated="true"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">

            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_api_key"/>
    </application>

</manifest>